{% extends "default.html" %}
{% block title %}Food Pantry Notification System{% endblock %}
{% block header %}Change Password{% endblock %}
{% block content %}
    <form method="POST" action="/confirm_change_password">
    <table class="data_entry_form">
        <tr> {# Row 1 #}
            <th>
                <label>Subscribe to Panther Pantry email updates?</label>
            </th>
        </tr>
        <tr> {# Confirm Button #}
            <td colspan="2">
                <p>Yes, I want to change my password.</p>
                <button type="submit">CHANGE</button>
            </td>
        </tr>
        <tr> {# Cancel Button #}
            <td colspan="2">
                <p>No thanks, take me back to the settings page.</p>
                <a href="/user_settings"><button type="button">RETURN</button></a>
            </td>
        </tr>
    </table>
    </form>
{% endblock %}