{% extends "default.html" %}
{% block title %}
    Change Password
{% endblock %}
{% block header %}
    <div class="header">Please enter your new password below</div>
{% endblock %}
{% block content %}
    <div class="content">
        <form method="POST" action="/do_enter_password">
            <table class="data_entry">
                <tr>
                    <th><label>Password:</label></th>
                    <td>
                        <input type="password" name="password">
                        {% if error_field == "password" %}
                            <div class="error">{{ error_message }}</div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th><label>Confirm Password:</label></th>
                    <td>
                        <input type="password" name="password_confirm">
                        {% if error_field == "password_confirm" %}
                            <div class="error">{{ error_message }}</div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th colspan="2"><button type="submit" name="type" value="register">REGISTER</button></th>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}
